* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #222;
}

header {
  background-color: rgb(24, 117, 255);
  padding: 15px 0px 15px 10px;
}

header a {
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.title {
  line-height: 48px;
  padding: 60px 10px;
}

img {
  max-width: 100%;
}

.font-xl {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
}

.c-10 {
  color: #aaa;
}

.font-p {
  font-size: 1.25rem;
  color: #777;
}

.font-header {
  font-size: 1rem;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  background-color: rgb(21, 21, 177);
  padding: 10px 0px 10px 10px;
  color: #fff;
}

.header-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-right: 10px;
}

.header a {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-logo {
  font-size: 2.25rem;
  font-weight: 700;
}

.navbar-links {
  display: flex;

  flex-wrap: wrap;
}

.navbar-links a {
  font-size: 1.25rem;
  padding: 10px;
}

.navbar-links a:hover {
  color: rgb(21, 21, 177);
}

.sobre {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  padding: 60px 10px;
  border-top: 2px solid rgb(24, 117, 255);
  border-bottom: 2px solid rgb(24, 117, 255);
}

.sobre-info h2 + p {
  margin: 30px 0;
  line-height: 1.75rem;
}
.sobre-info {
  flex: 2 1 300px;
}

.sobre-img {
  flex: 1 1 160px;
}

.produtos-info {
  display: flex;
  gap: 20px;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 60px 0;
}

.produtos h2 {
  margin-top: 60px;
}

.produtos-info div {
  margin: 10px;
  flex: 1 1 175px;
}

.produtos-info div:first-child {
  border-top: 8px solid rgb(152, 96, 255);
}

.produtos-info div:nth-child(2n) {
  border-top: 8px solid rgb(255, 18, 117);
}

.produtos-info div:last-child {
  border-top: 8px solid rgb(74, 194, 231);
}

.produtos-info h3 {
  padding: 60px 20px;
  background-color: #eee;
}

.planos {
  background-color: rgba(247, 247, 247, 0.986);
  display: flex;
  padding: 60px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.planos div {
  border: solid 4px #fff;
  padding: 20px;
  margin: 10px;
  flex: 1 1 260px;
}

.planos h2 {
  margin-top: 20px;
  text-align: center;
}

.planos span {
  border-top: solid 4px #fff;
  border-bottom: solid 4px #fff;
  max-width: 300px;
  margin: 20px auto;
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 5px 0;
  font-size: 3em;
}

.planos sup {
  font-size: 1.5rem;
}

.planos ul {
  max-width: 300px;
  line-height: 2;
  margin: 20px auto;
  font-size: 1.25rem;
  color: #777;
}

.planos li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.planos li::after {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  background-color: rgb(24, 117, 255);
  border-radius: 50%;
}

.planos a {
  max-width: 300px;
  margin: 20px auto;
  display: block;
  padding: 15px 0px;
  text-align: center;
  border: 4px solid;
  color: #222;
  cursor: pointer;
  font-size: 2.25rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.vantagens {
  display: flex;
  margin: 60px auto;
  flex-wrap: wrap;
}

.vantagens div {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.vantagens h2 {
  font-size: 2.25rem;
  color: #aaa;
  margin-bottom: 16px;
}
.vantagens p {
  font-size: 1.25rem;
  color: #777;
  line-height: 1.4;
}

.vantagens div:nth-child(3n + 1) h2::before {
  content: "";
  width: 8px;
  height: 30px;
  background-color: rgb(152, 96, 255);
  display: inline-block;
  margin-right: 8px;
}
.vantagens div:nth-child(3n + 2) h2::before {
  content: "";
  width: 8px;
  height: 30px;
  background-color: rgb(255, 18, 117);
  display: inline-block;
  margin-right: 8px;
}
.vantagens div:nth-child(3n + 3) h2::before {
  content: "";
  width: 8px;
  height: 30px;
  background-color: rgb(74, 194, 231);
  display: inline-block;
  margin-right: 8px;
}

.news {
  background-color: #f7f7f7;
  padding: 60px calc((100% - 960px) / 2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.news-info {
  padding-left: 10px;
  flex: 1 1 260px;
}

.news-info p {
  font-size: 1.25rem;
  margin: 8px 0 8px 0;
  color: #777;
  max-width: 230px;
}

.news-form {
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.news-form input {
  border: 4px solid rgb(24, 117, 255);
  flex: 1 1 260px;
  font-size: 1.25em;
  color: #7c7c7c;
  font-style: italic;
  font-family: "Nunito", sans-serif;
  padding: 15px 10px;
  background-color: transparent;
}

.news-form button {
  background-color: rgb(24, 117, 255);
  border: none;
  font-size: 2.25rem;
  color: #fff;
  padding: 15px 50px;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
  display: inline-block;
  flex: 1 1 260px;
}

.footer {
  background-color: rgb(24, 117, 255);
  width: 100%;
  font-size: 2.25rem;
  color: rgb(7, 58, 136);
  text-align: center;
  padding: 60px 0;
}

@media (max-width: 800px) {
  .planos {
    padding-left: 10px;
    padding-right: 10px;
  }

  .planos div:nth-child(3) {
    order: -2;
  }

  .planos div:nth-child(2) {
    order: -1;
  }

  .footer {
    font-size: 1.5rem;
  }

  .news-form button {
    font-size: 1.5rem;
  }
}
